.left_sidebar
{
	position: fixed;
	left: 10px;
	top: 10px;
	max-width: 200px;
	background: rgba(255,255,255,0.6);
	padding: 20px;
	
	-webkit-box-shadow: 0px 1px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 9px 0px rgba(50, 50, 50, 0.75);
}
.left_sidebar a
{
	display: block;
	background: #c8c8c8;
	padding: 3px;
	border-radius: 4px;
	margin-top: 5px;
	color: #ffffff;
	font-family: cursive;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
.left_sidebar a:hover
{
	color: #ff8c22;
	text-decoration: none;
}

.block_full_red
{
	padding: 30px;
	background: #ff0505;
	min-height: 250px;
}
.block_full_red input
{
	background: none;
	border: 0px;
	border-bottom: 1px solid #cecece;
	max-width: 600px;
	margin: 0px auto;
	display: block;
	outline: none;
	height: 80px;
	font-size: 34px;
	text-align: center;
	color: #cecece;
}

.double_block_blue_green
{
	background: rgb(255,214,3);
	background: linear-gradient(0deg, rgba(255,214,3,1) 24%, rgba(50,203,22,1) 100%);
}
.double_block_blue_green>div.block
{
	width: 50%;
	float: left;
	min-height: 250px;
}
.double_block_blue_green textarea
{
	background: none;
	border: 0px;
	border-bottom: 1px solid #ffffff;
	max-width: 600px;
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	display: block;
	outline: none;
	min-height: 80px;
	font-size: 34px;
	text-align: center;
	color: #ffffff;
}

.block_image
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 300px;
	width: 100%:
}