body
{
	background: url(images/bck.jpg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	width: 100%;
	min-height: 668px;
}

.promo_title
{
	text-align: center;
	font-family: Tahoma;
	font-size: 36px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 360px;
}

.buttons
{
	margin-top: 25px;
	text-align: center;
}

.buttons a
{
	display: inline-block;
	padding: 30px;
	font-family: Tahoma;
	font-weight: bold;
}
.buttons a.create
{
	color: #ffffff;
	font-size: 21px;
	background: #36c872;
}
.buttons a.help
{
	margin-left: 20px;
	font-size: 17px;
	padding: 15px;
	padding-left: 27px;
	padding-right: 27px;
	background: #3e73ab;
	color: #ffffff;
}
